


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catto & Doggo Classifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">

  </head>
  <body>

<section class="hero is-fullheight">
  
    <div class="bg-img"></div>
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/static/images/coderschool.svg" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="/">
                Home
              </a>
              <span class="navbar-item">
                <a href="https://github.com/minhanhng-cd/catto-doggo" target="_blank" class="button is-primary is-inverted">
                  <span style="color: red;font-weight: bold">Github</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body bg-img2"></div>
      <div class="container has-text-centered bg-text" style="width: 100%">


            <h1 id ="thanks">
                Thanks for your 
            </h1>
            <br>
            <h1>
                contribution !
            </h1>
            <br>
            <a href="/" class="button is-danger is-inverted is-outlined" style="font-size:1.5rem">Back to Home</a>
          
      </div>
    </div>


  </section>


  <script src="/static/script.js"></script>
</body>
</html>